In [30]:
import pandas as pd
import json
import sys
import os
from dotenv import load_dotenv

load_dotenv()
work_dir = os.getenv('WORK_DIR')
sys.path.append(work_dir)


data = []
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        # Intenta cargar cada lÃ­nea como un JSON
        try:
            data.append(json.loads(line))
        except json.JSONDecodeError as e:
            print(f"Error al decodificar la lÃ­nea: {e}")

# Convertir la lista de diccionarios en un DataFrame
df = pd.DataFrame(data)

# Mostrar las primeras filas del DataFrame
df.head()

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,...,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,...,active,None,NaN,None,1,2015-09-05T20:42:53.000Z,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,...,active,None,NaN,None,1,2015-09-26T18:08:30.000Z,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,...,active,None,NaN,None,1,2015-09-09T23:57:07.000Z,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1
3,"{'comment': '', 'longitude': -58.4929208, 'id'...",None,[],new,None,[],580.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",143001605,...,active,None,NaN,None,1,2015-09-28T18:47:56.000Z,http://articulo.mercadolibre.com.ar/MLA-581877...,"{'latitude': -34.6281894, 'longitude': -58.492...",0,1
4,"{'comment': '', 'longitude': -58.5495042, 'id'...",MI REPUTACION.,[],used,None,[],30.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",96873449,...,active,None,NaN,None,1,2015-08-24T22:07:20.000Z,http://articulo.mercadolibre.com.ar/MLA-576112...,"{'latitude': -34.6346547, 'longitude': -58.549...",0,1

In [31]:
# Ver las Ãºltimas filas
df.tail()

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,...,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
99995,"{'comment': '', 'longitude': -58.6142895, 'id'...",None,[],used,None,[],30.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",86277472,...,active,None,NaN,None,1,2015-09-28T01:04:49.000Z,http://articulo.mercadolibre.com.ar/MLA-581735...,"{'latitude': -34.4893206, 'longitude': -58.614...",0,1
99996,"{'comment': '', 'longitude': '', 'id': 1114571...",None,[],new,None,[],239.0,"{'local_pick_up': False, 'methods': [], 'tags'...","[{'description': 'Tarjeta de crÃ©dito', 'id': '...",120301324,...,active,None,NaN,None,5,2015-09-11T18:09:02.000Z,http://articulo.mercadolibre.com.ar/MLA-579045...,"{'latitude': '', 'longitude': ''}",0,5
99997,"{'comment': '', 'longitude': -58.6241199, 'id'...",None,[],used,None,[],600.0,"{'local_pick_up': False, 'methods': [], 'tags'...",[],12147240,...,active,None,NaN,None,1,2015-09-06T22:29:30.000Z,http://articulo.mercadolibre.com.ar/MLA-578170...,"{'latitude': -34.6467858, 'longitude': -58.624...",0,1
99998,"{'comment': '', 'longitude': -58.4020374, 'id'...","Buen estado, se verifica al entregar. la total...",[],used,None,[],50.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",86102489,...,active,None,NaN,None,1,2015-08-18T17:22:28.000Z,http://articulo.mercadolibre.com.ar/MLA-575062...,"{'latitude': -34.6100093, 'longitude': -58.402...",0,1
99999,"{'comment': '', 'longitude': -58.3713681, 'id'...",None,[],used,None,[],75.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",39061148,...,active,None,NaN,None,1,2015-09-21T13:02:16.000Z,http://articulo.mercadolibre.com.ar/MLA-580630...,"{'latitude': -34.6215959, 'longitude': -58.371...",0,1

In [32]:
# Dimensiones del DataFrame (nÃºmero de filas y columnas)
df.shape

(100000, 48)

In [33]:
# Nombres de las columnas
df.columns

Index(['seller_address', 'warranty', 'sub_status', 'condition',
       'seller_contact', 'deal_ids', 'base_price', 'shipping',
       'non_mercado_pago_payment_methods', 'seller_id', 'variations',
       'location', 'site_id', 'listing_type_id', 'price', 'attributes',
       'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'geolocation', 'sold_quantity', 'available_quantity'],
      dtype='object')

In [34]:
# Tipo de datos de cada columna
df.dtypes

seller_address                       object
warranty                             object
sub_status                           object
condition                            object
seller_contact                       object
deal_ids                             object
base_price                          float64
shipping                             object
non_mercado_pago_payment_methods     object
seller_id                             int64
variations                           object
location                             object
site_id                              object
listing_type_id                      object
price                               float64
attributes                           object
buying_mode                          object
tags                                 object
listing_source                       object
parent_item_id                       object
coverage_areas                       object
category_id                          object
descriptions                         object
last_updated                         object
international_delivery_mode          object
pictures                             object
id                                   object
official_store_id                   float64
differential_pricing                 object
accepts_mercadopago                    bool
original_price                      float64
currency_id                          object
thumbnail                            object
title                                object
automatic_relist                       bool
date_created                         object
secure_thumbnail                     object
stop_time                            object
status                               object
video_id                             object
catalog_product_id                  float64
subtitle                             object
initial_quantity                      int64
start_time                           object
permalink                            object
geolocation                          object
sold_quantity                         int64
available_quantity                    int64
dtype: object

In [35]:
# Resumen general del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   seller_address                    100000 non-null  object
 1   warranty                          39104 non-null   object
 2   sub_status                        100000 non-null  object
 3   condition                         100000 non-null  object
 4   seller_contact                    2219 non-null    object
 5   deal_ids                          100000 non-null  object
 6   base_price                        100000 non-null  float64
 7   shipping                          100000 non-null  object
 8   non_mercado_pago_payment_methods  100000 non-null  object
 9   seller_id                         100000 non-null  int64
 10  variations                        100000 non-null  object
 11  location                          100000 non-null  object
 12  site_id                           100000 non-null  object
 13  listing_type_id                   100000 non-null  object
 14  price                             100000 non-null  float64
 15  attributes                        100000 non-null  object
 16  buying_mode                       100000 non-null  object
 17  tags                              100000 non-null  object
 18  listing_source                    100000 non-null  object
 19  parent_item_id                    76989 non-null   object
 20  coverage_areas                    100000 non-null  object
 21  category_id                       100000 non-null  object
 22  descriptions                      100000 non-null  object
 23  last_updated                      100000 non-null  object
 24  international_delivery_mode       100000 non-null  object
 25  pictures                          100000 non-null  object
 26  id                                100000 non-null  object
 27  official_store_id                 818 non-null     float64
 28  differential_pricing              0 non-null       object
 29  accepts_mercadopago               100000 non-null  bool
 30  original_price                    143 non-null     float64
 31  currency_id                       100000 non-null  object
 32  thumbnail                         100000 non-null  object
 33  title                             100000 non-null  object
 34  automatic_relist                  100000 non-null  bool
 35  date_created                      100000 non-null  object
 36  secure_thumbnail                  100000 non-null  object
 37  stop_time                         100000 non-null  object
 38  status                            100000 non-null  object
 39  video_id                          2985 non-null    object
 40  catalog_product_id                11 non-null      float64
 41  subtitle                          0 non-null       object
 42  initial_quantity                  100000 non-null  int64
 43  start_time                        100000 non-null  object
 44  permalink                         100000 non-null  object
 45  geolocation                       100000 non-null  object
 46  sold_quantity                     100000 non-null  int64
 47  available_quantity                100000 non-null  int64
dtypes: bool(2), float64(5), int64(4), object(37)
memory usage: 35.3+ MB

In [36]:
# EstadÃ­sticas descriptivas para columnas numÃ©ricas
df.describe()

,base_price,seller_id,price,official_store_id,original_price,catalog_product_id,initial_quantity,sold_quantity,available_quantity
count,1.000000e+05,1.000000e+05,1.000000e+05,818.000000,143.000000,1.100000e+01,100000.000000,100000.000000,100000.000000
mean,5.252423e+04,8.425269e+07,5.252433e+04,206.443765,1593.341958,3.727643e+06,35.093370,2.396990,34.842380
std,8.623127e+06,5.497257e+07,8.623127e+06,128.252953,2245.798072,1.884698e+06,421.076196,42.685077,420.808403
min,8.400000e-01,1.304000e+03,8.400000e-01,1.000000,120.000000,9.440400e+04,1.000000,0.000000,1.000000
25%,9.000000e+01,3.953591e+07,9.000000e+01,84.000000,449.000000,3.050702e+06,1.000000,0.000000,1.000000
50%,2.500000e+02,7.631063e+07,2.500000e+02,216.000000,858.000000,5.093232e+06,1.000000,0.000000,1.000000
75%,8.000000e+02,1.325659e+08,8.000000e+02,312.750000,1500.000000,5.103216e+06,2.000000,0.000000,2.000000
max,2.222222e+09,1.946906e+08,2.222222e+09,446.000000,13999.000000,5.434513e+06,9999.000000,8676.000000,9999.000000

In [37]:
# Cantidad de valores nulos por columna
df.isnull().sum()

# Porcentaje de valores nulos por columna
df.isnull().mean() * 100

seller_address                        0.000
warranty                             60.896
sub_status                            0.000
condition                             0.000
seller_contact                       97.781
deal_ids                              0.000
base_price                            0.000
shipping                              0.000
non_mercado_pago_payment_methods      0.000
seller_id                             0.000
variations                            0.000
location                              0.000
site_id                               0.000
listing_type_id                       0.000
price                                 0.000
attributes                            0.000
buying_mode                           0.000
tags                                  0.000
listing_source                        0.000
parent_item_id                       23.011
coverage_areas                        0.000
category_id                           0.000
descriptions                          0.000
last_updated                          0.000
international_delivery_mode           0.000
pictures                              0.000
id                                    0.000
official_store_id                    99.182
differential_pricing                100.000
accepts_mercadopago                   0.000
original_price                       99.857
currency_id                           0.000
thumbnail                             0.000
title                                 0.000
automatic_relist                      0.000
date_created                          0.000
secure_thumbnail                      0.000
stop_time                             0.000
status                                0.000
video_id                             97.015
catalog_product_id                   99.989
subtitle                            100.000
initial_quantity                      0.000
start_time                            0.000
permalink                             0.000
geolocation                           0.000
sold_quantity                         0.000
available_quantity                    0.000
dtype: float64