### **Exploratory Data Analysis Process**

**Objective**: In this process we intend to understand what kind of data we have, how they are distributed and what perspectives we can find taking into account what we were asked for in the model. Also, right here I will deal with the transformations to finally do the feature engineering.

##### **First Step:** Import libraries and load data

In [1]:
import tabulate
import sys
import os
import logging

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Custom Libraries

# Add the 'src' folder to sys.path
sys.path.append(os.path.abspath(os.path.join('..', 'src')))

import utils.analysis_functions as analysis_functions

In [3]:
# Libraries configuration

logging.basicConfig(level=logging.INFO)

# Remove the column display limit to show all columns in the DataFrame
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_json('../data/raw/MLA_100k.jsonlines', lines=True)
df_raw = df.copy() # I will use this copy to show the original data

---

##### **Second Step:** General review of the data

In [5]:
df.head(3)

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,variations,location,site_id,listing_type_id,price,attributes,buying_mode,tags,listing_source,parent_item_id,coverage_areas,category_id,descriptions,last_updated,international_delivery_mode,pictures,id,official_store_id,differential_pricing,accepts_mercadopago,original_price,currency_id,thumbnail,title,automatic_relist,date_created,secure_thumbnail,stop_time,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,[],{},MLA,bronze,80.0,[],buy_it_now,[dragged_bids_and_visits],,MLA568261029,[],MLA126406,[{'id': 'MLA578052519-912855983'}],2015-09-05T20:42:58.000Z,none,"[{'size': '500x375', 'secure_url': 'https://a2...",MLA578052519,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/5386-MLA435206787...,Auriculares Samsung Originales Manos Libres Ca...,False,2015-09-05T20:42:53.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-04 20:42:53+00:00,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,[],{},MLA,silver,2650.0,[],buy_it_now,[],,MLA561574487,[],MLA10267,[{'id': 'MLA581565358-930764806'}],2015-09-26T18:08:34.000Z,none,"[{'size': '499x334', 'secure_url': 'https://a2...",MLA581565358,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/23223-MLA20245018...,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,2015-09-26T18:08:30.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-25 18:08:30+00:00,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,[],{},MLA,bronze,60.0,[],buy_it_now,[dragged_bids_and_visits],,MLA568881256,[],MLA1227,[{'id': 'MLA578780872-916478256'}],2015-09-09T23:57:10.000Z,none,"[{'size': '375x500', 'secure_url': 'https://a2...",MLA578780872,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/22076-MLA20223367...,"Antigua Revista Billiken, N° 1826, Año 1954",False,2015-09-09T23:57:07.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-08 23:57:07+00:00,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1

*Initially we noticed some JSON type columns, some categorical columns and one or two null columns.*

---

In [6]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

print("\nAll columns in the dataset:")
print(df.columns)

The dataset has 100000 rows and 48 columns.

All columns in the dataset:
Index(['seller_address', 'warranty', 'sub_status', 'condition',
       'seller_contact', 'deal_ids', 'base_price', 'shipping',
       'non_mercado_pago_payment_methods', 'seller_id', 'variations',
       'location', 'site_id', 'listing_type_id', 'price', 'attributes',
       'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'geolocation', 'sold_quantity', 'available_quantity'],
      dtype='object')

*First I will try to unpack the jsons in many columns, this will probably cause us a lot of nulls, but we will be able to understand better what information we have*

In [7]:
df = analysis_functions.unpack_json_columns(df)
df.head(3)

,warranty,sub_status,condition,seller_contact,deal_ids,base_price,non_mercado_pago_payment_methods,seller_id,variations,site_id,listing_type_id,price,attributes,buying_mode,tags,listing_source,parent_item_id,coverage_areas,category_id,descriptions,last_updated,international_delivery_mode,pictures,id,official_store_id,differential_pricing,accepts_mercadopago,original_price,currency_id,thumbnail,title,automatic_relist,date_created,secure_thumbnail,stop_time,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,sold_quantity,available_quantity,seller_address_comment,seller_address_longitude,seller_address_id,seller_address_address_line,seller_address_latitude,seller_address_zip_code,seller_address_country.name,seller_address_country.id,seller_address_search_location.neighborhood.name,seller_address_search_location.neighborhood.id,seller_address_search_location.state.name,seller_address_search_location.state.id,seller_address_search_location.city.name,seller_address_search_location.city.id,seller_address_city.name,seller_address_city.id,seller_address_state.name,seller_address_state.id,shipping_local_pick_up,shipping_methods,shipping_tags,shipping_free_shipping,shipping_mode,shipping_dimensions,shipping_free_methods,location_open_hours,location_longitude,location_address_line,location_latitude,location_zip_code,location_neighborhood.name,location_neighborhood.id,location_country.name,location_country.id,location_city.name,location_city.id,location_state.name,location_state.id,geolocation_latitude,geolocation_longitude
0,None,[],new,None,[],80.0,"[{'description': 'Transferencia bancaria', 'id...",74952096,[],MLA,bronze,80.0,[],buy_it_now,[dragged_bids_and_visits],,MLA568261029,[],MLA126406,[{'id': 'MLA578052519-912855983'}],2015-09-05T20:42:58.000Z,none,"[{'size': '500x375', 'secure_url': 'https://a2...",MLA578052519,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/5386-MLA435206787...,Auriculares Samsung Originales Manos Libres Ca...,False,2015-09-05T20:42:53.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-04 20:42:53+00:00,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,0,1,,-58.398671,78162842,,-34.62807,,Argentina,AR,San Cristóbal,TUxBQlNBTjkwNTZa,Capital Federal,TUxBUENBUGw3M2E1,Capital Federal,TUxBQ0NBUGZlZG1sYQ,San Cristóbal,TUxBQlNBTjkwNTZa,Capital Federal,AR-C,True,[],[],False,not_specified,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34.62807,-58.398671
1,NUESTRA REPUTACION,[],used,None,[],2650.0,"[{'description': 'Transferencia bancaria', 'id...",42093335,[],MLA,silver,2650.0,[],buy_it_now,[],,MLA561574487,[],MLA10267,[{'id': 'MLA581565358-930764806'}],2015-09-26T18:08:34.000Z,none,"[{'size': '499x334', 'secure_url': 'https://a2...",MLA581565358,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/23223-MLA20245018...,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,2015-09-26T18:08:30.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-25 18:08:30+00:00,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,0,1,,-58.505917,105272448,,-34.593552,,Argentina,AR,Villa Devoto,TUxBQlZJTDYzNzZa,Capital Federal,TUxBUENBUGw3M2E1,Capital Federal,TUxBQ0NBUGZlZG1sYQ,Buenos Aires,,Capital Federal,AR-C,True,[],[],False,me2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34.593552,-58.505917
2,None,[],used,None,[],60.0,"[{'description': 'Transferencia bancaria', 'id...",133384258,[],MLA,bronze,60.0,[],buy_it_now,[dragged_bids_and_visits],,MLA568881256,[],MLA1227,[{'id': 'MLA578780872-916478256'}],2015-09-09T23:57:10.000Z,none,"[{'size': '375x500', 'secure_url': 'https://a2...",MLA578780872,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/22076-MLA20223367...,"Antigua Revista Billiken, N° 1826, Año 1954",False,2015-09-09T23:57:07.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-08 23:57:07+00:00,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,0,1,,-58.414395,103489016,,-34.623391,,Argentina,AR,Boedo,TUxBQkJPRTQ0OTRa,Capital Federal,TUxBUENBUGw3M2E1,Capital Federal,TUxBQ0NBUGZlZG1sYQ,Boedo,TUxBQkJPRTQ0OTRa,Capital Federal,AR-C,True,[],[],False,me2,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34.623391,-58.414395

*Now that we have unpacked the JSON type columns, we will see how they behave.*

In [8]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

print("\nAll columns in the dataset:")
print(df.columns)

The dataset has 100000 rows and 84 columns.

All columns in the dataset:
Index(['warranty', 'sub_status', 'condition', 'seller_contact', 'deal_ids',
       'base_price', 'non_mercado_pago_payment_methods', 'seller_id',
       'variations', 'site_id', 'listing_type_id', 'price', 'attributes',
       'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'sold_quantity', 'available_quantity',
       'seller_address_comment', 'seller_address_longitude',
       'seller_address_id', 'seller_address_address_line',
       'seller_address_latitude', 'seller_address_zip_code',
       'seller_address_country.name', 'seller_address_country.id',
       'seller_address_search_location.neighborhood.name',
       'seller_address_search_location.neighborhood.id',
       'seller_address_search_location.state.name',
       'seller_address_search_location.state.id',
       'seller_address_search_location.city.name',
       'seller_address_search_location.city.id', 'seller_address_city.name',
       'seller_address_city.id', 'seller_address_state.name',
       'seller_address_state.id', 'shipping_local_pick_up', 'shipping_methods',
       'shipping_tags', 'shipping_free_shipping', 'shipping_mode',
       'shipping_dimensions', 'shipping_free_methods', 'location_open_hours',
       'location_longitude', 'location_address_line', 'location_latitude',
       'location_zip_code', 'location_neighborhood.name',
       'location_neighborhood.id', 'location_country.name',
       'location_country.id', 'location_city.name', 'location_city.id',
       'location_state.name', 'location_state.id', 'geolocation_latitude',
       'geolocation_longitude'],
      dtype='object')

*Well, now that we have unpacked the dataset and have many more columns. I'll use my own function to see how the dataset is doing and see if that can help me.*

In [9]:
analysis_functions.summary_by_columns(df)

An error occurred: unhashable type: 'list'. In the column: sub_status

*Additionally, we have some columns that ended up as lists, let's see what they are, how they are and what we could do*

In [10]:
# Which columns have lists?
list_columns = [col for col in df.columns if isinstance(df[col].iloc[0], list)]
list_columns

['sub_status',
 'deal_ids',
 'non_mercado_pago_payment_methods',
 'variations',
 'attributes',
 'tags',
 'coverage_areas',
 'descriptions',
 'pictures',
 'shipping_methods',
 'shipping_tags']

In [11]:
df[df[list_columns].columns].head(5)

,sub_status,deal_ids,non_mercado_pago_payment_methods,variations,attributes,tags,coverage_areas,descriptions,pictures,shipping_methods,shipping_tags
0,[],[],"[{'description': 'Transferencia bancaria', 'id...",[],[],[dragged_bids_and_visits],[],[{'id': 'MLA578052519-912855983'}],"[{'size': '500x375', 'secure_url': 'https://a2...",[],[]
1,[],[],"[{'description': 'Transferencia bancaria', 'id...",[],[],[],[],[{'id': 'MLA581565358-930764806'}],"[{'size': '499x334', 'secure_url': 'https://a2...",[],[]
2,[],[],"[{'description': 'Transferencia bancaria', 'id...",[],[],[dragged_bids_and_visits],[],[{'id': 'MLA578780872-916478256'}],"[{'size': '375x500', 'secure_url': 'https://a2...",[],[]
3,[],[],"[{'description': 'Transferencia bancaria', 'id...",[],[],[],[],[{'id': 'MLA581877385-932309698'}],"[{'size': '441x423', 'secure_url': 'https://a2...",[],[]
4,[],[],"[{'description': 'Transferencia bancaria', 'id...",[],[],[dragged_bids_and_visits],[],[{'id': 'MLA576112692-902981678'}],"[{'size': '375x500', 'secure_url': 'https://a2...",[],[]

In [12]:
# How many unique values are in each list column?
for col in list_columns:
    try:
        unique_values = df[col].explode().unique()
        
        print(f"\nColumn '{col}' has {len(unique_values)} unique values: {unique_values}")
    except TypeError as e:
        print(f"I can't explode column '{col}'.")

Column 'sub_status' has 4 unique values: [nan 'suspended' 'expired' 'deleted']

Column 'deal_ids' has 13 unique values: [nan 'MLA60' 'MLA25' 'MLA70' 'MLA69' 'MLA58' 'MLA3' 'MLA4' 'MLA71' 'MLA62'
 'MLA99' 'MLA17' 'MLA68']
I can't explode column 'non_mercado_pago_payment_methods'.
I can't explode column 'variations'.
I can't explode column 'attributes'.

Column 'tags' has 6 unique values: ['dragged_bids_and_visits' nan 'good_quality_thumbnail' 'dragged_visits'
 'free_relist' 'poor_quality_thumbnail']

Column 'coverage_areas' has 1 unique values: [nan]
I can't explode column 'descriptions'.
I can't explode column 'pictures'.

Column 'shipping_methods' has 2 unique values: [nan None]

Column 'shipping_tags' has 3 unique values: [nan 'relisted_with_modifications' 'free_method_upgraded']

In [13]:
# Add the pixel column to the columns 
def extract_size(pictures, key):
    """Extracts the size of the images based on the given key."""
    if not pictures or not isinstance(pictures, list):
        return None
    
    try:
        size = pictures[0].get(key)
        if size:
            width, height = map(int, size.split('x'))
            return width * height 
        return None
    except ValueError as ve:
        print(f"Value error: {ve}")
        return None
    except Exception as e:
        print(f"Unexpected error when extracting size: {e}")
        return None
def calculate_pixels(pictures):
    return extract_size(pictures, 'size')

def calculate_max_pixels(pictures):
    return extract_size(pictures, 'max_size')


df['pixels'] = df['pictures'].apply(calculate_pixels)
df['max_pixels'] = df['pictures'].apply(calculate_max_pixels)

*In this case, at least the `deal_ids`, `tags`, `coverage_areas`, `shipping_methods`, `shipping_tags`, `seller_contact`, `shipping_free_methods`
are not very descriptive, so I will remove them.*

In [14]:
columns_to_drop = ["deal_ids", "tags", "coverage_areas", "shipping_methods", "shipping_tags", "seller_contact", "shipping_free_methods"]
df = df.drop(columns=columns_to_drop)
list_columns = [col for col in df.columns if isinstance(df[col].iloc[0], list)]

*For sub_status, I will do the following, I will delete the records that are suspended, expired or deleted, and then I will delete the column*

In [15]:
df['sub_status'] = df['sub_status'].astype(str)
df = df[~df["sub_status"].isin(["['suspended']", "['expired']", "['deleted']"])]
df = df.drop(columns=["sub_status"])
list_columns.remove("sub_status")

In [16]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

The dataset has 99014 rows and 78 columns.

*In this case, I'd better count the number of items in the lists.*

In [17]:
for col in list_columns:
    print(f"\nColumn '{col}' has {df[col].apply(len).sum()} elements in total.")
    df[col] = df[col].apply(analysis_functions.count_lists_size)

Column 'non_mercado_pago_payment_methods' has 156872 elements in total.

Column 'variations' has 18536 elements in total.

Column 'attributes' has 118450 elements in total.

Column 'descriptions' has 96357 elements in total.

Column 'pictures' has 290372 elements in total.

In [18]:
summary = analysis_functions.summary_by_columns(df)
summary

,Column,Data Type,Missing Values,Unique Values,Duplicates,Missing Values (%)
0,warranty,object,60300,10190,88823,60.90
1,condition,object,0,2,99012,0.00
2,base_price,float64,0,10291,88723,0.00
3,non_mercado_pago_payment_methods,int64,0,13,99001,0.00
4,seller_id,int64,0,35633,63381,0.00
5,variations,int64,0,32,98982,0.00
6,site_id,object,0,1,99013,0.00
7,listing_type_id,object,0,7,99007,0.00
8,price,float64,0,10292,88722,0.00
9,attributes,int64,0,55,98959,0.00
10,buying_mode,object,0,3,99011,0.00
11,listing_source,object,0,1,99013,0.00
12,parent_item_id,object,22810,76204,22809,23.04
13,category_id,object,0,10868,88146,0.00
14,descriptions,int64,0,2,99012,0.00
15,last_updated,object,0,94226,4788,0.00
16,international_delivery_mode,object,0,1,99013,0.00
17,pictures,int64,0,32,98982,0.00
18,id,object,0,99014,0,0.00
19,official_store_id,float64,98198,202,98811,99.18
20,differential_pricing,float64,99014,0,99013,100.00
21,accepts_mercadopago,bool,0,2,99012,0.00
22,original_price,float64,98871,114,98899,99.86
23,currency_id,object,0,2,99012,0.00
24,thumbnail,object,0,96994,2020,0.00
25,title,object,0,97862,1152,0.00
26,automatic_relist,bool,0,2,99012,0.00
27,date_created,object,0,86264,12750,0.00
28,secure_thumbnail,object,0,96994,2020,0.00
29,stop_time,"datetime64[ns, UTC]",0,85362,13652,0.00
30,status,object,0,3,99011,0.00
31,video_id,object,96077,2035,96978,97.03
32,catalog_product_id,float64,99003,9,99004,99.99
33,subtitle,float64,99014,0,99013,100.00
34,initial_quantity,int64,0,449,98565,0.00
35,start_time,"datetime64[ns, UTC]",0,85826,13188,0.00
36,permalink,object,0,99014,0,0.00
37,sold_quantity,int64,0,317,98697,0.00
38,available_quantity,int64,0,466,98548,0.00
39,seller_address_comment,object,0,282,98732,0.00
40,seller_address_longitude,object,0,26124,72890,0.00
41,seller_address_id,object,0,35639,63375,0.00
42,seller_address_address_line,object,0,1614,97400,0.00
43,seller_address_latitude,object,0,26160,72854,0.00
44,seller_address_zip_code,object,0,319,98695,0.00
45,seller_address_country.name,object,0,2,99012,0.00
46,seller_address_country.id,object,0,2,99012,0.00
47,seller_address_search_location.neighborhood.name,object,0,556,98458,0.00
48,seller_address_search_location.neighborhood.id,object,0,592,98422,0.00
49,seller_address_search_location.state.name,object,0,29,98985,0.00
50,seller_address_search_location.state.id,object,0,29,98985,0.00
51,seller_address_search_location.city.name,object,0,280,98734,0.00
52,seller_address_search_location.city.id,object,0,312,98702,0.00
53,seller_address_city.name,object,0,3637,95377,0.00
54,seller_address_city.id,object,0,294,98720,0.00
55,seller_address_state.name,object,0,25,98989,0.00
56,seller_address_state.id,object,0,25,98989,0.00
57,shipping_local_pick_up,bool,0,2,99012,0.00
58,shipping_free_shipping,bool,0,2,99012,0.00
59,shipping_mode,object,0,4,99010,0.00
60,shipping_dimensions,object,98991,13,99000,99.98
61,location_open_hours,object,96798,1,99012,97.76
62,location_longitude,object,96798,506,98507,97.76
63,location_address_line,object,96798,876,98137,97.76
64,location_latitude,object,96798,506,98507,97.76
65,location_zip_code,object,96798,1,99012,97.76
66,location_neighborhood.name,object,96798,480,98533,97.76
67,location_neighborhood.id,object,96798,511,98502,97.76
68,location_country.name,object,96798,1,99012,97.76
69,location_country.id,object,96798,1,99012,97.76
70,location_city.name,object,96798,168,98845,97.76
71,location_city.id,object,96798,180,98833,97.76
72,location_state.name,object,96798,30,98983,97.76
73,location_state.id,object,96798,30,98983,97.76
74,geolocation_latitude,object,0,25923,73091,0.00
75,geolocation_longitude,object,0,25888,73126,0.00
76,pixels,float64,785,6560,92453,0.79
77,max_pixels,float64,835,15700,83313,0.84

*Up to this point in the path, the dataset looks like this, however, we are going to eliminate all those columns whose Unique Values equals 1*

In [19]:
# If Unique Values is 1, then the column does not provide information and can be removed
columns_to_drop = summary[summary["Unique Values"] == 1]['Column'].tolist()
df = df.drop(columns=columns_to_drop)

---

In [20]:
# Let's take a look at the columns with null values
summary = analysis_functions.summary_by_columns(df)
summary[summary["Missing Values (%)"] > 0].sort_values(by="Missing Values (%)", ascending=False)

,Column,Data Type,Missing Values,Unique Values,Duplicates,Missing Values (%)
17,differential_pricing,float64,99014,0,99013,100.00
30,subtitle,float64,99014,0,99013,100.00
29,catalog_product_id,float64,99003,9,99004,99.99
57,shipping_dimensions,object,98991,13,99000,99.98
19,original_price,float64,98871,114,98899,99.86
16,official_store_id,float64,98198,202,98811,99.18
65,location_state.name,object,96798,30,98983,97.76
62,location_neighborhood.id,object,96798,511,98502,97.76
59,location_address_line,object,96798,876,98137,97.76
58,location_longitude,object,96798,506,98507,97.76
60,location_latitude,object,96798,506,98507,97.76
61,location_neighborhood.name,object,96798,480,98533,97.76
66,location_state.id,object,96798,30,98983,97.76
64,location_city.id,object,96798,180,98833,97.76
63,location_city.name,object,96798,168,98845,97.76
28,video_id,object,96077,2035,96978,97.03
0,warranty,object,60300,10190,88823,60.90
10,parent_item_id,object,22810,76204,22809,23.04
70,max_pixels,float64,835,15700,83313,0.84
69,pixels,float64,785,6560,92453,0.79

In [21]:
# I will drop the columns with more than 90% of missing values

columns_to_drop = summary[summary["Missing Values (%)"] > 90]['Column'].tolist()
df = df.drop(columns=columns_to_drop)

In [22]:
analysis_functions.summary_by_columns(df)

,Column,Data Type,Missing Values,Unique Values,Duplicates,Missing Values (%)
0,warranty,object,60300,10190,88823,60.90
1,condition,object,0,2,99012,0.00
2,base_price,float64,0,10291,88723,0.00
3,non_mercado_pago_payment_methods,int64,0,13,99001,0.00
4,seller_id,int64,0,35633,63381,0.00
5,variations,int64,0,32,98982,0.00
6,listing_type_id,object,0,7,99007,0.00
7,price,float64,0,10292,88722,0.00
8,attributes,int64,0,55,98959,0.00
9,buying_mode,object,0,3,99011,0.00
10,parent_item_id,object,22810,76204,22809,23.04
11,category_id,object,0,10868,88146,0.00
12,descriptions,int64,0,2,99012,0.00
13,last_updated,object,0,94226,4788,0.00
14,pictures,int64,0,32,98982,0.00
15,id,object,0,99014,0,0.00
16,accepts_mercadopago,bool,0,2,99012,0.00
17,currency_id,object,0,2,99012,0.00
18,thumbnail,object,0,96994,2020,0.00
19,title,object,0,97862,1152,0.00
20,automatic_relist,bool,0,2,99012,0.00
21,date_created,object,0,86264,12750,0.00
22,secure_thumbnail,object,0,96994,2020,0.00
23,stop_time,"datetime64[ns, UTC]",0,85362,13652,0.00
24,status,object,0,3,99011,0.00
25,initial_quantity,int64,0,449,98565,0.00
26,start_time,"datetime64[ns, UTC]",0,85826,13188,0.00
27,permalink,object,0,99014,0,0.00
28,sold_quantity,int64,0,317,98697,0.00
29,available_quantity,int64,0,466,98548,0.00
30,seller_address_comment,object,0,282,98732,0.00
31,seller_address_longitude,object,0,26124,72890,0.00
32,seller_address_id,object,0,35639,63375,0.00
33,seller_address_address_line,object,0,1614,97400,0.00
34,seller_address_latitude,object,0,26160,72854,0.00
35,seller_address_zip_code,object,0,319,98695,0.00
36,seller_address_country.name,object,0,2,99012,0.00
37,seller_address_country.id,object,0,2,99012,0.00
38,seller_address_search_location.neighborhood.name,object,0,556,98458,0.00
39,seller_address_search_location.neighborhood.id,object,0,592,98422,0.00
40,seller_address_search_location.state.name,object,0,29,98985,0.00
41,seller_address_search_location.state.id,object,0,29,98985,0.00
42,seller_address_search_location.city.name,object,0,280,98734,0.00
43,seller_address_search_location.city.id,object,0,312,98702,0.00
44,seller_address_city.name,object,0,3637,95377,0.00
45,seller_address_city.id,object,0,294,98720,0.00
46,seller_address_state.name,object,0,25,98989,0.00
47,seller_address_state.id,object,0,25,98989,0.00
48,shipping_local_pick_up,bool,0,2,99012,0.00
49,shipping_free_shipping,bool,0,2,99012,0.00
50,shipping_mode,object,0,4,99010,0.00
51,geolocation_latitude,object,0,25923,73091,0.00
52,geolocation_longitude,object,0,25888,73126,0.00
53,pixels,float64,785,6560,92453,0.79
54,max_pixels,float64,835,15700,83313,0.84

In [23]:
# To the other columns with missing values, I will fill them with the most frequent value
columns_to_fill = summary[(summary["Missing Values (%)"] > 0) & (summary["Missing Values (%)"] < 90)]['Column'].tolist()

for col in columns_to_fill:
    most_frequent_value = df[col].mode()[0]
    df[col] = df[col].fillna(most_frequent_value)

In [24]:
analysis_functions.summary_by_columns(df)

,Column,Data Type,Missing Values,Unique Values,Duplicates,Missing Values (%)
0,warranty,object,0,10190,88824,0.0
1,condition,object,0,2,99012,0.0
2,base_price,float64,0,10291,88723,0.0
3,non_mercado_pago_payment_methods,int64,0,13,99001,0.0
4,seller_id,int64,0,35633,63381,0.0
5,variations,int64,0,32,98982,0.0
6,listing_type_id,object,0,7,99007,0.0
7,price,float64,0,10292,88722,0.0
8,attributes,int64,0,55,98959,0.0
9,buying_mode,object,0,3,99011,0.0
10,parent_item_id,object,0,76204,22810,0.0
11,category_id,object,0,10868,88146,0.0
12,descriptions,int64,0,2,99012,0.0
13,last_updated,object,0,94226,4788,0.0
14,pictures,int64,0,32,98982,0.0
15,id,object,0,99014,0,0.0
16,accepts_mercadopago,bool,0,2,99012,0.0
17,currency_id,object,0,2,99012,0.0
18,thumbnail,object,0,96994,2020,0.0
19,title,object,0,97862,1152,0.0
20,automatic_relist,bool,0,2,99012,0.0
21,date_created,object,0,86264,12750,0.0
22,secure_thumbnail,object,0,96994,2020,0.0
23,stop_time,"datetime64[ns, UTC]",0,85362,13652,0.0
24,status,object,0,3,99011,0.0
25,initial_quantity,int64,0,449,98565,0.0
26,start_time,"datetime64[ns, UTC]",0,85826,13188,0.0
27,permalink,object,0,99014,0,0.0
28,sold_quantity,int64,0,317,98697,0.0
29,available_quantity,int64,0,466,98548,0.0
30,seller_address_comment,object,0,282,98732,0.0
31,seller_address_longitude,object,0,26124,72890,0.0
32,seller_address_id,object,0,35639,63375,0.0
33,seller_address_address_line,object,0,1614,97400,0.0
34,seller_address_latitude,object,0,26160,72854,0.0
35,seller_address_zip_code,object,0,319,98695,0.0
36,seller_address_country.name,object,0,2,99012,0.0
37,seller_address_country.id,object,0,2,99012,0.0
38,seller_address_search_location.neighborhood.name,object,0,556,98458,0.0
39,seller_address_search_location.neighborhood.id,object,0,592,98422,0.0
40,seller_address_search_location.state.name,object,0,29,98985,0.0
41,seller_address_search_location.state.id,object,0,29,98985,0.0
42,seller_address_search_location.city.name,object,0,280,98734,0.0
43,seller_address_search_location.city.id,object,0,312,98702,0.0
44,seller_address_city.name,object,0,3637,95377,0.0
45,seller_address_city.id,object,0,294,98720,0.0
46,seller_address_state.name,object,0,25,98989,0.0
47,seller_address_state.id,object,0,25,98989,0.0
48,shipping_local_pick_up,bool,0,2,99012,0.0
49,shipping_free_shipping,bool,0,2,99012,0.0
50,shipping_mode,object,0,4,99010,0.0
51,geolocation_latitude,object,0,25923,73091,0.0
52,geolocation_longitude,object,0,25888,73126,0.0
53,pixels,float64,0,6560,92454,0.0
54,max_pixels,float64,0,15700,83314,0.0

In [25]:
# Drop non-informative columns
columns_to_drop = ['geolocation_longitude', 'geolocation_latitude', 'permalink', 'seller_address_address_line', 'secure_thumbnail', 'date_created', 'thumbnail', 'title', 'seller_address_state.name', 'seller_address_zip_code', 'seller_address_comment', 'descriptions', 'seller_address_search_location.neighborhood.name', 'seller_address_country.name', 'seller_address_search_location.state.name', 'seller_address_search_location.city.name', 'seller_address_city.name']
df.drop(columns=columns_to_drop, inplace=True)

#### *Step Fourth* Add calculated columns

In [26]:
df.columns

Index(['warranty', 'condition', 'base_price',
       'non_mercado_pago_payment_methods', 'seller_id', 'variations',
       'listing_type_id', 'price', 'attributes', 'buying_mode',
       'parent_item_id', 'category_id', 'last_updated', 'pictures', 'id',
       'accepts_mercadopago', 'currency_id', 'automatic_relist', 'stop_time',
       'status', 'initial_quantity', 'start_time', 'sold_quantity',
       'available_quantity', 'seller_address_longitude', 'seller_address_id',
       'seller_address_latitude', 'seller_address_country.id',
       'seller_address_search_location.neighborhood.id',
       'seller_address_search_location.state.id',
       'seller_address_search_location.city.id', 'seller_address_city.id',
       'seller_address_state.id', 'shipping_local_pick_up',
       'shipping_free_shipping', 'shipping_mode', 'pixels', 'max_pixels'],
      dtype='object')

In [27]:
# Add column to lifetime of the publication and the last update
df['stop_time'] = pd.to_datetime(df['stop_time'])
df['start_time'] = pd.to_datetime(df['start_time'])
df['last_updated'] = pd.to_datetime(df['last_updated'])

df['lifetime publication'] = (df['stop_time'] - df['start_time']).dt.days
df['last_update'] = (df['last_updated'] - df['start_time']).dt.days
df.drop(columns=['stop_time', 'start_time', 'last_updated'], inplace=True)

In [28]:
df['status'] = df['status'].apply(lambda x: 'active' if x == 'active' else 'no_active')

In [29]:
# Latitude and Longitude columns
df['seller_address_latitude'] = pd.to_numeric(df['seller_address_latitude'], errors='coerce')
df['seller_address_longitude'] = pd.to_numeric(df['seller_address_longitude'], errors='coerce')

# Drop null values
#df = df.dropna()

In [30]:
#save the cleaned data
df.to_csv('../data/processed/MLA_100k_cleaned.csv', index=False)

----