# ***Marketplace items - EDA***
---

## ***Importando las dependencias***

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

## ***Leyendo los datos***

Leeremos este archivo de formato *jsonlines* con el método de Pandas `read_json`, junto con el parámetro `lines=True` que indica cada línea del archivo es un objeto JSON separado.

In [3]:
raw_data = pd.read_json("../data/MLA_100k.jsonlines", lines=True)

In [4]:
raw_data.head(3)

,seller_address,warranty,sub_status,condition,seller_contact,deal_ids,base_price,shipping,non_mercado_pago_payment_methods,seller_id,variations,location,site_id,listing_type_id,price,attributes,buying_mode,tags,listing_source,parent_item_id,coverage_areas,category_id,descriptions,last_updated,international_delivery_mode,pictures,id,official_store_id,differential_pricing,accepts_mercadopago,original_price,currency_id,thumbnail,title,automatic_relist,date_created,secure_thumbnail,stop_time,status,video_id,catalog_product_id,subtitle,initial_quantity,start_time,permalink,geolocation,sold_quantity,available_quantity
0,"{'comment': '', 'longitude': -58.3986709, 'id'...",None,[],new,None,[],80.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",74952096,[],{},MLA,bronze,80.0,[],buy_it_now,[dragged_bids_and_visits],,MLA568261029,[],MLA126406,[{'id': 'MLA578052519-912855983'}],2015-09-05T20:42:58.000Z,none,"[{'size': '500x375', 'secure_url': 'https://a2...",MLA578052519,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/5386-MLA435206787...,Auriculares Samsung Originales Manos Libres Ca...,False,2015-09-05T20:42:53.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-04 20:42:53+00:00,active,None,NaN,NaN,1,2015-09-05 20:42:53+00:00,http://articulo.mercadolibre.com.ar/MLA-578052...,"{'latitude': -34.6280698, 'longitude': -58.398...",0,1
1,"{'comment': '', 'longitude': -58.5059173, 'id'...",NUESTRA REPUTACION,[],used,None,[],2650.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",42093335,[],{},MLA,silver,2650.0,[],buy_it_now,[],,MLA561574487,[],MLA10267,[{'id': 'MLA581565358-930764806'}],2015-09-26T18:08:34.000Z,none,"[{'size': '499x334', 'secure_url': 'https://a2...",MLA581565358,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/23223-MLA20245018...,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,2015-09-26T18:08:30.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-25 18:08:30+00:00,active,None,NaN,NaN,1,2015-09-26 18:08:30+00:00,http://articulo.mercadolibre.com.ar/MLA-581565...,"{'latitude': -34.5935524, 'longitude': -58.505...",0,1
2,"{'comment': '', 'longitude': -58.4143948, 'id'...",None,[],used,None,[],60.0,"{'local_pick_up': True, 'methods': [], 'tags':...","[{'description': 'Transferencia bancaria', 'id...",133384258,[],{},MLA,bronze,60.0,[],buy_it_now,[dragged_bids_and_visits],,MLA568881256,[],MLA1227,[{'id': 'MLA578780872-916478256'}],2015-09-09T23:57:10.000Z,none,"[{'size': '375x500', 'secure_url': 'https://a2...",MLA578780872,NaN,NaN,True,NaN,ARS,http://mla-s1-p.mlstatic.com/22076-MLA20223367...,"Antigua Revista Billiken, N° 1826, Año 1954",False,2015-09-09T23:57:07.000Z,https://a248.e.akamai.net/mla-s1-p.mlstatic.co...,2015-11-08 23:57:07+00:00,active,None,NaN,NaN,1,2015-09-09 23:57:07+00:00,http://articulo.mercadolibre.com.ar/MLA-578780...,"{'latitude': -34.6233907, 'longitude': -58.414...",0,1

Con el método info vamos a observar la cantidad de datos no nulos que se almacenan en el dataframe. Esto será útil para tener una primera impresión de las columnas que tendremos en cuenta al momento de realizar la limpieza.

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 48 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   seller_address                    100000 non-null  object
 1   warranty                          39104 non-null   object
 2   sub_status                        100000 non-null  object
 3   condition                         100000 non-null  object
 4   seller_contact                    2219 non-null    object
 5   deal_ids                          100000 non-null  object
 6   base_price                        100000 non-null  float64
 7   shipping                          100000 non-null  object
 8   non_mercado_pago_payment_methods  100000 non-null  object
 9   seller_id                         100000 non-null  int64
 10  variations                        100000 non-null  object
 11  location                          100000 non-null  object
 12  site_id                           100000 non-null  object
 13  listing_type_id                   100000 non-null  object
 14  price                             100000 non-null  float64
 15  attributes                        100000 non-null  object
 16  buying_mode                       100000 non-null  object
 17  tags                              100000 non-null  object
 18  listing_source                    100000 non-null  object
 19  parent_item_id                    76989 non-null   object
 20  coverage_areas                    100000 non-null  object
 21  category_id                       100000 non-null  object
 22  descriptions                      100000 non-null  object
 23  last_updated                      100000 non-null  object
 24  international_delivery_mode       100000 non-null  object
 25  pictures                          100000 non-null  object
 26  id                                100000 non-null  object
 27  official_store_id                 818 non-null     float64
 28  differential_pricing              0 non-null       float64
 29  accepts_mercadopago               100000 non-null  bool
 30  original_price                    143 non-null     float64
 31  currency_id                       100000 non-null  object
 32  thumbnail                         100000 non-null  object
 33  title                             100000 non-null  object
 34  automatic_relist                  100000 non-null  bool
 35  date_created                      100000 non-null  object
 36  secure_thumbnail                  100000 non-null  object
 37  stop_time                         100000 non-null  datetime64[ns, UTC]
 38  status                            100000 non-null  object
 39  video_id                          2985 non-null    object
 40  catalog_product_id                11 non-null      float64
 41  subtitle                          0 non-null       float64
 42  initial_quantity                  100000 non-null  int64
 43  start_time                        100000 non-null  datetime64[ns, UTC]
 44  permalink                         100000 non-null  object
 45  geolocation                       100000 non-null  object
 46  sold_quantity                     100000 non-null  int64
 47  available_quantity                100000 non-null  int64
dtypes: bool(2), datetime64[ns, UTC](2), float64(7), int64(4), object(33)
memory usage: 35.3+ MB

Además, hay que tener en cuenta que hay columnas como `seller_address` y `location` contienen diccionarios como valores. Consideramos importante recordar la estructura de algunos de estos datos, pues será importante para la limpieza de estos.

In [6]:
raw_data.loc[0, 'seller_address']

{'comment': '',
 'longitude': -58.3986709,
 'id': 78162842,
 'country': {'name': 'Argentina', 'id': 'AR'},
 'address_line': '',
 'latitude': -34.6280698,
 'search_location': {'neighborhood': {'name': 'San Cristóbal',
   'id': 'TUxBQlNBTjkwNTZa'},
  'state': {'name': 'Capital Federal', 'id': 'TUxBUENBUGw3M2E1'},
  'city': {'name': 'Capital Federal', 'id': 'TUxBQ0NBUGZlZG1sYQ'}},
 'zip_code': '',
 'city': {'name': 'San Cristóbal', 'id': 'TUxBQlNBTjkwNTZa'},
 'state': {'name': 'Capital Federal', 'id': 'AR-C'}}

In [7]:
raw_data.loc[59, 'location']

{'open_hours': '',
 'neighborhood': {'name': 'San Nicolás', 'id': 'TUxBQlNBTjgzMjRa'},
 'longitude': '',
 'country': {'name': 'Argentina', 'id': 'AR'},
 'address_line': 'Florida al 600, Entre Viamonte y Tucuman',
 'latitude': '',
 'zip_code': '',
 'city': {'name': 'Capital Federal', 'id': 'TUxBQ0NBUGZlZG1sYQ'},
 'state': {'name': 'Capital Federal', 'id': 'TUxBUENBUGw3M2E1'}}

Dada que la información contenida en estas columnas son ubicaciones meramente, podemos estar seguros de que los datos de esta columna no nos servirán de mucho.

## ***Limpieza de datos***

### **Eliminando columnas**

Vamos a revisar primero qué columnas tenemos en nuestro dataframe: son cerca de 48 columnas a analizar.

In [8]:
raw_data.columns

Index(['seller_address', 'warranty', 'sub_status', 'condition',
       'seller_contact', 'deal_ids', 'base_price', 'shipping',
       'non_mercado_pago_payment_methods', 'seller_id', 'variations',
       'location', 'site_id', 'listing_type_id', 'price', 'attributes',
       'buying_mode', 'tags', 'listing_source', 'parent_item_id',
       'coverage_areas', 'category_id', 'descriptions', 'last_updated',
       'international_delivery_mode', 'pictures', 'id', 'official_store_id',
       'differential_pricing', 'accepts_mercadopago', 'original_price',
       'currency_id', 'thumbnail', 'title', 'automatic_relist', 'date_created',
       'secure_thumbnail', 'stop_time', 'status', 'video_id',
       'catalog_product_id', 'subtitle', 'initial_quantity', 'start_time',
       'permalink', 'geolocation', 'sold_quantity', 'available_quantity'],
      dtype='object')

**Las siguientes serán las columnas a eliminar:**

### Columnas con contexto geográfico

- seller_address
- location
- geolocation

### Columnas con contexto temporal

- last_updated
- date_created
- stop_time
- start_time

### Columnas con IDs (existen excepciones, por ej. ***listing_type_id*)**

- deal_ids
- seller_id
- site_id
- parent_item_id
- category_id
- id
- official_store_id
- currency_id
- video_id
- catalog_product_id

### Columnas que cuentan con nombres o títulos sin una estructura definida

- warranty
- title (será eliminada después)

### Columnas con listas vacías

- sub_status
- deal_ids
- non_mercado_pago_payment_methods
- variations
- attributes
- tags
- coverage_areas

### Columnas con demasiados valores nulos o incongruentes

- seller_contact
- listing_source
- international_delivery_mode
- differential_pricing
- subtitle

### Columnas redundantes

- base_price
- sold_quantity
- descriptions (redundancia con ***id***)
- original_price

### Columnas con hipervínculos o metadatos

- pictures
- thumbnail
- secure_thumbnail
- permalink

### Columnas ambiguas

No logramos determinar una definición y uso apropiado de esta columna, por tanto se elimino:

- automatic_relist

In [9]:
columnas_eliminadas = [
    "seller_address",
    "warranty",
    "sub_status",
    "seller_contact",
    "deal_ids",
    "base_price",
    "non_mercado_pago_payment_methods",
    "seller_id",
    "variations",
    "location",
    "site_id",
    "attributes",
    "tags",
    "listing_source",
    "parent_item_id",
    "coverage_areas",
    "category_id",
    "descriptions",
    "last_updated",
    "international_delivery_mode",
    "pictures",
    "id",    
    "official_store_id",
    "differential_pricing",
    "original_price",
    "currency_id",
    "thumbnail",
    # "title",
    "date_created",
    "secure_thumbnail",
    "stop_time",
    "video_id",
    "catalog_product_id",
    "subtitle",
    "start_time",
    "permalink",
    "geolocation",
    "sold_quantity"
]

In [10]:
df = raw_data.drop(columns=columnas_eliminadas)

In [11]:
df.head(3)

,condition,shipping,listing_type_id,price,buying_mode,accepts_mercadopago,title,automatic_relist,status,initial_quantity,available_quantity
0,new,"{'local_pick_up': True, 'methods': [], 'tags':...",bronze,80.0,buy_it_now,True,Auriculares Samsung Originales Manos Libres Ca...,False,active,1,1
1,used,"{'local_pick_up': True, 'methods': [], 'tags':...",silver,2650.0,buy_it_now,True,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,active,1,1
2,used,"{'local_pick_up': True, 'methods': [], 'tags':...",bronze,60.0,buy_it_now,True,"Antigua Revista Billiken, N° 1826, Año 1954",False,active,1,1

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   condition            100000 non-null  object
 1   shipping             100000 non-null  object
 2   listing_type_id      100000 non-null  object
 3   price                100000 non-null  float64
 4   buying_mode          100000 non-null  object
 5   accepts_mercadopago  100000 non-null  bool
 6   title                100000 non-null  object
 7   automatic_relist     100000 non-null  bool
 8   status               100000 non-null  object
 9   initial_quantity     100000 non-null  int64
 10  available_quantity   100000 non-null  int64
dtypes: bool(2), float64(1), int64(2), object(6)
memory usage: 7.1+ MB

### **Analizando shipping**

La columna `shipping` consta de valores compuestos por diccionarios. Hay 3 claves de nuestro interés cuyos valores explicaremos a continuación:

* local_pick_up

* free_shipping

* mode

In [13]:
df.loc[13, "shipping"]

{'local_pick_up': True,
 'methods': [],
 'tags': [],
 'free_shipping': False,
 'mode': 'not_specified',
 'dimensions': None}

Aplanamos los valores de esta columnas y escogemos las anteriores 3 claves. Los valores de estas claves se distribuiran en 3 columnas nuevas que serán concatenadas al dataframe.

In [14]:
shipping_normalized = pd.json_normalize(df["shipping"])

shipping_filtered = shipping_normalized[["free_shipping", "mode", "local_pick_up"]]

df = pd.concat([df.drop(columns=["shipping"]), shipping_filtered], axis=1)

df.head(3)

,condition,listing_type_id,price,buying_mode,accepts_mercadopago,title,automatic_relist,status,initial_quantity,available_quantity,free_shipping,mode,local_pick_up
0,new,bronze,80.0,buy_it_now,True,Auriculares Samsung Originales Manos Libres Ca...,False,active,1,1,False,not_specified,True
1,used,silver,2650.0,buy_it_now,True,Cuchillo Daga Acero Carbón Casco Yelmo Solinge...,False,active,1,1,False,me2,True
2,used,bronze,60.0,buy_it_now,True,"Antigua Revista Billiken, N° 1826, Año 1954",False,active,1,1,False,me2,True

---

#### ***Free Shipping***

* **True**: El vendedor ofrece envío gratuito para el producto. El comprador no tendrá que pagar costos adicionales por el envío.

* **False**: El envío no es gratuito. El comprador deberá pagar un costo extra por el envío del producto.

In [15]:
df["free_shipping"].value_counts()

free_shipping
False    96984
True      3016
Name: count, dtype: int64

---

#### ***Local Pick Up***

* **True**: El vendedor ofrece la opción de retiro en persona o recogida local. El comprador puede acordar un punto de encuentro o dirigirse al lugar indicado para recoger el producto, evitando costos de envío.

* **False**: No se ofrece la opción de retiro en persona. El producto debe ser enviado al comprador mediante algún servicio de mensajería.

In [16]:
df["local_pick_up"].value_counts()

local_pick_up
True     79561
False    20439
Name: count, dtype: int64

---

#### ***Mode***


La columna "mode" indica el método de envío o el servicio logístico que se utiliza para entregar el producto al comprador. Los valores representan los siguientes métodos:

* **me2**: Mercado Envíos 2, que es el servicio de logística ofrecido por Mercado Libre. Es la versión más actualizada y automatizada del servicio, que permite un seguimiento más eficiente y opciones de envío más rápidas.

* **me1**: Mercado Envíos 1, la versión anterior del servicio logístico de Mercado Libre. Aunque menos común y más básica que me2, aún está disponible para algunos vendedores.

* **custom**: El vendedor utiliza un método de envío personalizado o alternativo que no es parte de los servicios logísticos estándar de Mercado Libre. Puede ser una empresa de mensajería diferente o acuerdos particulares de envío.

* **not_specified**: No se ha especificado el método de envío. Esto puede significar que el vendedor no ha definido claramente cómo se realizará el envío, o que el método no encaja en las categorías anteriores.

In [17]:
df["mode"].value_counts()

mode
me2              51255
not_specified    45171
custom            3481
me1                 93
Name: count, dtype: int64

---
### **Borrar filas duplicadas y eliminando columna `title`**

**Hay algo para remarcar**: la columna `title` se dejó con el fin de reducir falsos positivos en los datos duplicados. Es decir, con el fin de identificar de mejor manera este tipo de registro dejamos esta columna.

In [18]:
print(df.shape)
df = df.drop_duplicates()
print(df.shape)

(100000, 13)
(99373, 13)

Finalmente, podemos proceder a eliminar la columna title, pues cumplió su cometido.

In [19]:
df = df.drop(columns=["title"])

### **Revisando valores únicos en status**

Hay un valor en partícular en `status` que podemos eliminar: `not_yet_active`. Este valor no aportará ningún valor a nuestro análisis.

In [20]:
df["status"].value_counts()

status
active            95076
paused             4276
closed               20
not_yet_active        1
Name: count, dtype: int64

In [21]:
df = df.query("status != 'not_yet_active'").copy()

In [22]:
df["status"].value_counts()

status
active    95076
paused     4276
closed       20
Name: count, dtype: int64

### **Revisando nulos**

In [23]:
print(df.isnull().sum())

condition              0
listing_type_id        0
price                  0
buying_mode            0
accepts_mercadopago    0
automatic_relist       0
status                 0
initial_quantity       0
available_quantity     0
free_shipping          0
mode                   0
local_pick_up          0
dtype: int64

## ***Guardando el dataframe***

Para concluir este proceso guardamos el dataframe en un archivo CSV dentro de la carpeta `data`.

In [24]:
df.to_csv("../data/MLA_100k_clean.csv", index=False)